* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
li {
  margin: 30px;
}
a {
  text-decoration: none;
  background-color: rgb(54, 54, 45);
  padding: 15px;
  color: white;
  border: 2px solid rgb(194, 189, 127);
  border-radius: 5px;
}
.bordel {
  display: flex;
}
